# NPM
node_modules
.git
.vscode
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
test/
.husky/
docs/
tsconfig.json
tslint.json
src/
.prettierignore
.prettierrc.json
babel.config.js
yarn-error.log
yarn.lock
.editorconfig
prisma/
*.tgz
.env
.local-pack

